@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*, ::before, ::after {
  border-width: 0;
}

@layer utilities{
  /* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Popup will come from above */
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease, visibility 300ms ease;
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
}

/* Popup styling with slide-in animation */
.popup {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px); /* Start above */
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.popupVisible {
  transform: translateY(0); /* Slide down to its position */
  opacity: 1;
}

}

